#title {
    background-color: #ff4c68;
    color: white;
    height: 605px;
}
.tindog {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 2rem;
}
.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
#dog {
    margin-top: 20px;
    transform: rotate(20deg);
    height: 600px;
    width: 300px;
    position: relative;
}

body {
    font-family: 'Montserrat-black', sans-serif;
}

#features {
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
    background-color: white;
}

.fas , .far {
    color: #ef8172;
    margin-bottom: 10px;
}

.fas:hover{
    color: #ff4c68;
}

.far:hover{
    color: #ff4c68;
}

h2 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.t1 {
    color: #8f8f8f;
    text-align: center;
}


/*testimonial section*/

#testimonials {
    padding: 15% 7%;
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

#testimonial {
    padding: 15% 7%;
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    font-family: 'Montserrat-black', sans-serif;
    text-align: center;
}